%h1 Edit a exercise

.row 
  .small-12.columns
    #new_exercise
      %h1 {{exercise.title}}
      <template v-for="(snippet, index) in exercise.json_data">
      <edit_snippet :snippet_data='snippet' :index='index'></edit_snippet>
      </template>
    = form_for @exercise, url: {action: "update"}, method: 'patch' do |f|
      = f.text_field :title
      = f.text_area :json_data, size: "60x12"
      = f.text_field :points
      = f.text_field :amount_of_exercises
      = f.submit "Update exercise"
