%h1 Create a new exercise

.row 
  .small-12.columns
    #new_exercise
      %h1 {{exercise.title}}
      <template v-for="(snippet, index) in @new_exercise.json_data">
      <snippet :snippet_data='snippet' :index='index'></snippet>
      </template>
    = form_for @new_exercise, url: {action: "create"} do |f|
      = Exercise.last.id + 1
      = f.label :title, "Name of exercise"
      = f.text_field :title
      .row
        = f.fields_for :json_data do |data|
          .small-2.columns
            = data.label :key, "in key of"
            = data.text_field :key

          .small-2.columns
            = data.label :type, "type of the snippet(interval, harmony, etc)"
            = data.text_field :type

          .small-2.columns
            = data.label :instrument, "type of the instrument used to play the notes (sine, piano, etc)"
            = data.text_field :instrument

          .small-2.columns
            = data.label :answer, "answer of the snippet"
            = data.text_field :answer

          .small-2.columns
            = data.label :points, "points of the snippet"
            = data.text_field :points

      -#= f.text_area :json_data, size: "60x12", value: 'hi'

      = f.label :points, "Amount of points awarded for clearing exercise"
      = f.text_field :points
      = f.label :amount_of_exercises, "Amount of exercises (snippets) in exercise"
      = f.text_field :amount_of_exercises
      = f.submit "Create exercise"
